# EditorConfig is awesome: http://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Indentation override for all source files
[**.{js,ts,tsx}]
indent_style = space
indent_size = 2
